<header class="site-header" role="banner">
  <div class="wc-container">
    <h1><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
    <h2>{{ site.description }}</h2>
    <ul>
      <li>
        <a href="{{ '/blog' | prepend: site.baseurl | prepend: site.url }}">Blog</a><span>/</span>
      </li>
      <li>
        <a href="{{ '/code' | prepend: site.baseurl | prepend: site.url }}">Code</a><span>/</span>
      </li>
      <li>
        <a href="{{ '/about' | prepend: site.baseurl | prepend: site.url }}">About</a><span>/</span>
      </li>
    </ul>
  </div>
</header>
